{% import 'Default/macros.html.twig' as Macros %}
<html>
    <head>
        <title>{% block title %}Welcome{% endblock %} - {{ server_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {# JQuery 2.2 #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

        {# Bootstrap 4.0 - cus im too lazy to style my own CMS #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

        {# Font Awesome #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

        {# Google Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">

        {# Custom styles #}
        <link href="/assets/main.min.css" rel="stylesheet" type="text/css">
        <script src="/assets/main.min.js"></script>
    </head>
    <body>

        <nav>
            <header></header>

            <div class="menu">
                <ul>
                    <li><a href="/" {% if page == 'dashboard' %}class="active"{% endif %}>Dashboard</a></li>
                    <li><a href="/characters" {% if page == 'characters' %}class="active"{% endif %}>Characters</a></li>
                    <li><a href="/server" {% if page == 'server' %}class="active"{% endif %}>Server</a></li>
                </ul>
            </div>


            <footer>
                <ul>
                    <li>
                        <em>Logged in as</em>
                        <span class="username">{{ user.name }}</span>
                    </li>
                    <li>
                        <a href="">Logout</a>
                    </li>
                    <li class="copyright">
                        Built by <a href="https://twitter.com/viion" target="_blank">@viion</a><br>
                        <a href="https://github.com/viion/DSXI-Portal" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a> <br>
                        MIT License {{ "now"|date("Y") }}
                    </li>
                </ul
            </footer>

        </nav>

        <main>
            {% if alerts.success is defined and alerts.success %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-thumbs-o-up"></i> &nbsp; {{ alerts.success }}
                </div>
            {% endif %}

            {% if alerts.error is defined and alerts.error %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-exclamation-circle"></i> &nbsp; {{ alerts.error }}
                </div>
            {% endif %}


            {% block body %}{% endblock %}
        </main>

    </body>
</html>
