{% macro breadcrum(links) %}
    <ol class="breadcrumb">
        {% for i,link in links %}
            {% set name = link[0] %}
            {% set url = link[1] is defined ? link[1] : false %}

            {% if url == false %}
                <li class="active">{{ name }}</li>
            {% else %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endmacro %}

{% macro server(setting) %}
{% set value = setting.set_value ? setting.set_value : setting.default_value %}
<fieldset class="form-group server-field-row">
    {% if setting.type == 'checkbox' %}
        <input type="checkbox" class="form-control" id="{{ setting.variable }}" name="{{ setting.variable }}" {% if value %}checked="checked"{% endif %}>
        <label for="{{ setting.variable }}">{{ setting.name }}</label>
    {% else %}
        <div class="row">
            <div class="col-md-4">
                <label for="{{ setting.variable }}">{{ setting.name }}</label>
            </div>
            <div class="col-md-8">
                {% if setting.type == 'text' %}
                    <input type="{{ setting.type }}" class="form-control" id="{{ setting.variable }}" name="{{ setting.variable }}" value="{{ value }}">
                {% elseif setting.type == 'textarea' %}
                    <textarea class="form-control" id="{{ setting.variable }}" name="{{ setting.variable }}">{{ value }}</textarea>
                {% endif %}
                {% if setting.help is defined and setting.help is not empty %}
                    <small>{{ setting.help }}</small>
                {% endif %}
            </div>
        </div>
    {% endif %}
</fieldset>
{% endmacro %}
