{% extends 'Default/base.html.twig' %}
{% set page = 'server' %}

{% block body %}

	{{ Macros.breadcrum([
		[ 'Server' ],
	]) }}

	<div class="panel">
		<h2>Server Management</h2>
		<div>
			<a href="/server/settings" class="btn btn-primary">Customize Settings</a>
			<a href="/server/auctionhouse/populate" class="btn btn-primary">Populate Auction House</a>
			<br><br>
			<p>All items populated in the Auction House have a
				sale price of <strong>{{ auction_house_default_price|number_format }}</strong>, run
				the command multiple times to populate it further.
		</div>
	</div>

	<div class="panel">
		<h2>Server Controls</h2>
		<div>
			<p>Restarting the server will take approximately {{ server_restart_delay }} seconds
				if characters are logged in. Please allow it time to restart properly!</p>
			<a href="/server/action/start" class="btn btn-success">Start</a>
			<a href="/server/action/stop" class="btn btn-danger">Stop</a>
			<a href="/server/action/restart" class="btn btn-info btn-server-restart">Restart</a>

			<hr>

			<strong>Start Commands</strong>
			<ul>
				{% for cmd in cmd_start %}
					<code class="block">{{ cmd }}</code>
				{% endfor %}
			</ul>

			<br><br>

			<strong>Stop Commands</strong>
			<ul>
				{% for cmd in cmd_stop %}
					<code class="block">{{ cmd }}</code>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="panel panel-danger">
		<h2>Recover Settings</h2>
		<div>
			<p>If you need to recover the settings, click "Recover" below, this will download the latest settings
			file from GitHub and replace it over your saved settings. <strong>This does not change your saved settings
			on the web portal, only behind the scenes.</strong></p>

			<a href="/server/recover" class="btn btn-danger-outline">Recover Settings</a>
		</div>
	</div>

	<div id="saveServerSettingsModal" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Restarting Server</h4>
					</div>
					<div class="modal-body">
						<p>Server Settings have been saved, your server is restarting.
							This takes roughly {{ server_restart_delay }} seconds.
							Please allow it time to finish before trying to log back into the game.</p>

						<div class="restart-countdown">
							<strong>Restart Timer:</strong> <em>{{ server_restart_delay }}</em>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
