{% extends 'Default/base.html.twig' %}
{% set page = 'server' %}

{% block body %}

	{{ Macros.breadcrum([
		[ 'Server', '/server' ],
		[ 'Customize Settings' ],
	]) }}

	<div class="page">
		<form method="post" class="server-settings-form">

			<h1>Customize Settings</h1>
			<p>
				Here you can manage the <strong>server settings</strong>, this includes everything about how it is run and
				what kind of features you would like to provide. Multiple settings can be created and saved to allow
				flexibility in customizing your server.
			</p>
			<p>
				Values not set will be set to the default based on the latest file. If any of the configuration files have changed since
				this site was updated, saving will not be possible (work in progress)
			</p>

			<div class="alert alert-warning">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				Once you have saved, you must <a href="/server">restart your server</a>.
			</div>

			<hr>

			<div class="form-actions">
				<button type="button" class="btn btn-primary-outline form-expand-all" id="formExpandAll">Expand All</button>
			</div>

			<div class="server-group">
				<h2><i class="fa fa-plus" aria-hidden="true"></i> Server Data</h2>
				<div>
					<p>Set common data that appears in-game.</p>
					{% for setting in settings.server %}
						{{ Macros.server(setting) }}
					{% endfor %}
				</div>
			</div>

			<div class="server-group">
				<h2><i class="fa fa-plus" aria-hidden="true"></i> Important</h2>
				<div>
					<p>These are various settings that are considered important as they're commonly modified by server admins.</p>
					{% for setting in settings.important %}
						{{ Macros.server(setting) }}
					{% endfor %}
				</div>
			</div>

			<div class="server-group">
				<h2><i class="fa fa-plus" aria-hidden="true"></i> Expansions</h2>
				<div>
					<p>Enable or disable specific expansions.</p>

					<div class="checkbox-group">
					{% for setting in settings.expansions %}
						{{ Macros.server(setting, true) }}
					{% endfor %}
					</div>

					<p>
						Enable or Disable your chosen restrictions.
						This generally results in a more accurate presentation of your selected expansions
						as well as a less confusing player experience for things that are disabled
						(things that are disabled are not loaded).
					</p>

					{% for setting in settings.expansions_global %}
						{{ Macros.server(setting) }}
					{% endfor %}
				</div>
			</div>

			<hr>

			{# Some notes #}
			{% set notes = {
				'coffers': 'SE implemented coffer/chest illusion time in order to
					prevent coffer farming. No-one in the same area can open
					a chest or coffer for loot (gil, gems & items) till a
					random time between min and max.
					During this time players can loot keyitem and item related
					to quests (AF, maps... etc.)',

				'hnm': 'Sets spawn type for: Behemoth, Fafnir, Adamantoise,
					King Behemoth, Nidhog, Aspidochelone. Use 0 for timed spawns,
					1 for force pop only, 2 for both',
			} %}

			{% set ignore = ['server', 'expansions', 'important', 'expansions_global'] %}
			{% for group, list in settings if group not in ignore %}

				<div class="server-group">
					<h2><i class="fa fa-plus" aria-hidden="true"></i> {{ group|title }}</h2>
					<div>
						{% if notes[group] is defined %}
							<p>{{ notes[group] }}</p>
						{% endif %}
						{% for setting in list  %}
							{{ Macros.server(setting) }}
						{% endfor %}
					</div>
				</div>

			{% endfor %}

			<button type="submit" class="btn btn-success btn-block btn-lg">Save Server Settings and Restart Server</button>

		</form>
	</div>
{% endblock %}
